/**
 * Calendar.css - https://github.com/772807886/Calendar-js
 * Created by Liming on 2016/8/1.
 */
.b_dark {
    background: black;
}

.b_light {
    background: #EEE;
}

.c_light {
    color: white;
}

.f_light {
    fill: white;
}

.o_normal {
    outline-color: #888!important;
}

.o_light {
    outline-color: lightgray!important;
}

.calendar {
    outline: 3px double black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    width: 100%;
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.content, .years, .months {
    width: 100%;
    height: 85%;
}

.content_row {
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.content_column {
    width: 14.285%;
    flex-grow: 1;
    flex-shrink: 0;
    outline: 1px solid;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.date {
    font-size: 24px;
    font-weight: bold;
    font-family: serif;
}

.lunar {
    font-size: 12px;
    min-height: 14px;
}

.festival {
    font-size: 12px;
    min-height: 14px;
}

.lastMonth {
    opacity: 0.3;
}

.nextMonth {
    opacity: 0.5;
}

.center_text {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.months_row, .years_row {
    width: 100%;
    height: 33.333%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.months_column {
    width: 25%;
    flex-grow: 1;
    flex-shrink: 0;
    outline: 1px solid;
}

.years_column {
    width: 20%;
    flex-grow: 1;
    flex-shrink: 0;
    outline: 1px solid;
}
